body{
background-color: lightgrey;
}
h1{
  text-align: center;
  font-size: 40px;
  font-family: cursive;
  text-shadow: gold;
  background-color: grey;
}
#crime{
float:right;
}
#movies{
  float:right;
}
#license{
  text-align:center;
}
